* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* White text for headings */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.content {
    display: none;
}

.content-active {
    display: block;
}

button {
    background-color: #333333; /* Dark button background */
    color: #e0e0e0; /* Light button text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444444; /* Slightly lighter button background on hover */
}

footer {
    background-color: #1e1e1e; /* Footer background */
    color: #e0e0e0; /* Footer text color */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333333;
}

a {
    color: #bb86fc; /* Link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Adjust padding between heading and paragraph */
#work , #education {
    text-align: center;
}
#work h4, #education h4 {
    margin-top: 20px;
    margin-bottom: 2px;
    margin-right: 2px;
    font-size: 15px;
    display: block;
}

#work h5, #education h5 {
    margin-top: 0px;
    font-size: 11px;
    font-style: italic;
    display: block;
}

#work p, #education p {
    font-size: 13px;
    text-align: left; 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

#buttons{
    margin-bottom: 20px;
}
#shortIntro h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
#shortIntro p{
    text-align: center;
}
.wavy {
    display: inline-block;
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    position: relative;
    top: 0;
}

@keyframes wavy {
    0% {
        top: 0px;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0px;
    }
}

.strikethrough {
    position: relative;
    display: inline-block;
    color: #e0e0e0;
}

.strikethrough::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    transform: translateY(-50%);
}

#blogcontent p {

    margin: 0 auto;
    padding-left: 30px;
    text-align: left;
}
#blogcontent h2{

    margin: 0 auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    text-align: left;
}