
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  text-align: center;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
